html, body {
  height:100%;
  margin:0;
  overflow: hidden;
}

div {
  box-sizing: border-box;
  width:100%;
  height:100%;
}

.container-padding {
  padding:20px;
  overflow: hidden;

  .container {
    position: relative;
    background:#fff;
  }

  .a, .b {
    position: absolute;
    width:0;height:0;
    transition:0.3s linear;
    -webkit-transition:0.3s linear;
    top:0;left:0;
    z-index:2;
  }

  .a {
    border-top:50px solid #000;
    border-right:50px solid #000;
    height:0px;
  }

  .b {
    border-left:50px solid #000;
    border-bottom:50px solid #000;
    width:0;
  }

  .btn {
    font-family: monospace;
    position: absolute;
    z-index:3;
    background:#000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height:50px;
    transition-delay: 0.5s;

    span {
      color:#fff;
    }
  }

  .text {
    position:relative;
    z-index:2;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:50px;
  }

    .menu {
      top:50px;left:50px;
      height:calc(100% - 100px);
      width:calc(100% - 100px);
      transition:0.2s linear;
      -webkit-transition:0.2s linear;
      transition-delay: 0.4s;
      opacity:0;
      position: absolute;
      text-align:center;
      z-index:0;
      font-family: monospace;
      overflow: scroll;
      >div {
        display: flex;
        align-items: center;
        justify-content: center;
        transition:0.2s ease-in-out;
        width:100%;
        height:calc(100%/3);
        cursor: pointer;
      }

      .about:hover,
      .projects:hover,
      .skills:hover {
        background:#fff;
      }

      .about {
        background:#F2F2F2;
      }
      .projects {
        background:#E5E5E5;
      }
      .skills {
        background:#D8D8D8;
      }

      div:hover {
        // background:royalblue;
      }
      .slide-info {
        text-align: left;
        height:100%;
        transition:0.3s ease-in;
        position: absolute;
        top:-100%;
        background:yellow;
        overflow: hidden;
        padding:20px;
        cursor:default;

        .close-info {
          margin-top:0;
          cursor: pointer;
        }

        div {
          display:none;
        }
      }
    }
}

.active {
  background:#fff!important;
}

.active-color {
  transition-delay: 0s;
  color:#000!important;
}

.one-full-height {
  height:100%!important;
}

.one-full-width {
  width:100%!important;
}

.two-full-height {
  height:100%!important;
}

.two-full-width {
  width:100%!important;
}

.open {
  opacity:1!important;
  z-index: 4!important;
}

.slide-active {
  top:0px!important;
}

.block {
  display:block!important;
}
